{%extends "_base.html"%}
{%block content%}
<form action="" method="post">
    <div class="form-row">
        <div class="col-md-6">
            <label for="machine_type">机器类型</label>
            <select class="form-control" name="machine_type">
                {%for machine in TYPE_OF_MACHINE%}
                <option value="{{machine}}"{%if machine == addata.machine_type%} selected{%endif%}>{{machine}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="col-md-6">
            <label for="garage_id">车间编号</label>
            <select class="form-control" name="garage_id">
                {%for garage in GARAGE_AVAILABLE%}
                <option value="{{garage}}"{%if garage == addata.garage_id%} selected{%endif%}>{{garage}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="col-md-6">
            <label for="error_id">错误编号</label>
            <input type="text" class="form-control" name="error_id" value="{{addata.error_id}}">
        </div>
        <div class="col-md-6">
            <label for="errdate">报错日期</label>
            <input type="date" class="form-control" name="errdate" value="{{addata.errdate.strftime("%Y-%m-%d")}}">
        </div>
    </div>
    <div class="form-group">
        <label for="detail">详细解决方案</label>
        <textarea class="form-control" name="detail" rows="10">{{addata.detail}}</textarea>
    </div>
    <center><button class="btn btn-danger" type="submit">提交更改</button></center>
</form>
{%endblock%}