{%extends "_base.html"%}
{%block content%}
<ul class="pagination">
    <li class="page-item"><a class="page-link" href="/admin/data/?page=1"><span>&laquo;</span></a></li>
    {%if pagecnt <= 5%}
    {%set start = 1%}
    {%set end = pagecnt%}
    {%elif curpage <= 3%}
    {%set start = 1%}
    {%set end = 5%}
    {%elif curpage >= pagecnt - 2%}
    {%set start = pagecnt - 4%}
    {%set end = pagecnt%}
    {%else%}
    {%set start = curpage - 2%}
    {%set end = curpage + 2%}
    {%endif%}
    {%for i in range(start,end+1)%}
    <li class="page-item{%if i==curpage%} active{%endif%}"><a class="page-link" href="/admin/data/?page={{i}}">{{i}}</a></li>
    {%endfor%}
    <li class="page-item"><a class="page-link" href="/admin/data/?page={{pagecnt}}"><span>&raquo;</span></a></li>
</ul>
<table class="table table-striped text-monospace">
    <thead>
        <tr>
            <th>ID</th>
            <th>记录用户</th>
            <th>机器类型</th>
            <th>车间编号</th>
            <th>错误代码</th>
            <th>报错日期</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {%for data in datas%}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.uid}}</td>
            <td>{{data.machine_type}}</td>
            <td>{{data.garage_id}}</td>
            <td>{{data.error_id}}</td>
            <td>{{data.errdate.strftime("%Y/%m/%d")}}</td>
            <td>{{data.created_time.strftime("%Y/%m/%d %H:%M")}}</td>
            <td>
                <a href="/admin/data/edit/{{data.id}}/" class="btn btn-primary">编辑</a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}