<!DOCTYPE html>
<html lang="zh">
    <head>
        <title>Patient错误日志</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/static/Bootstrap4.3.1/bootstrap.min.css"/>
        <script src="/static/Bootstrap4.3.1/jquery.min.js"></script>
        <script src="/static/Bootstrap4.3.1/popper.min.js"></script>
        <script src="/static/Bootstrap4.3.1/bootstrap.min.js"></script>
        <!-- <link rel="stylesheet" href="/static/style.css"> -->
    </head>
    <body>
        {% include '_header.html' %}
        {% include '_firstview_modal.html' %}
        <div class="container" style="margin-top: 5rem;">
            {% include '_flash.html' %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>